.details
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width:100%;
    height:fit-content;
    justify-content: space-around;
    align-items:flex-start;
    margin-top: 100px;
}
.detailheading
{
    width: fit-content;
    height: fit-content;
    font-size: 17px;
    letter-spacing: normal;
    font-weight: bold;
    color: white;
    margin-bottom:40px;
}
.detailtext
{
    width:200px;
    height: fit-content;
    word-wrap: break-word;
    font-size: 15px;
    color:white;
    text-decoration: none;
    margin-bottom:10px;
}
.detailheading1
{
    width: 200px;
    height: fit-content;
    font-size: 17px;
    letter-spacing: normal;
    font-weight: bold;
    color: white;
    margin-bottom:40px;
    text-align: center;
}
.detailtext1
{
    width:200px;
    height: fit-content;
    word-wrap: break-word;
    font-size: 15px;
    color:white;
    text-decoration: none;
    margin-bottom:10px;
    text-align: center;
}
.wrapper
{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}
.wrapper1
{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    width:100vw;
    height:fit-content;
    align-items: center;
}
.simg
{
    margin-top:50px;
    margin-bottom: 80px;
}
.whole
{
    background-color: #232F3E;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    height: fit-content;
}
.social
{
    width:30px;
    height: 30px;
    background-size: 30px 30px;
    margin:5px;
}
.mess
{
    text-align: center;
    font-size: 14px;
    color: white;
    margin-bottom: 50px;
}
.mess1
{
    text-align: center;
    font-size: 14px;
    color: white;
    margin-bottom: 50px;
    margin-top: 50px;
}
.payment
{
    display: flex;
    flex-direction: row;
    max-width:700px;
    flex-wrap: wrap;
    height:fit-content;
    justify-content: space-around;
    margin-bottom: 70px;
}
.payment1
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width:400px;
    height:fit-content;
    justify-content: space-around;
    margin-bottom: 70px;
}
.payimg
{
    width:60px;
    height:35px;
    background-size: 60px 35px;
    margin:10px;
}
.bottom
{
    background-color: #131A22;
    width: 100%;
    min-height: 322px;
    display: flex;
    flex-direction: column;
    width:100%;
    height: fit-content;
    align-items: center;
    justify-content: flex-end;
}
.logos
{
    background-image: url('../../pictures/logo.jpg');
    background-size: 78px 78px;
    width:78px;
    height:78px;
    border-radius: 50%;
}
.logotexts
{
    background-image: url('../../pictures/logotext.png');
    background-repeat: no-repeat;
    background-size: 94px 28px;
    background-color: white;
    width: 94px;
    height: 28px;
    margin:7px;
}
.right
{
    font-size: 13px;
    color: white;
    margin-bottom: 20px;
    width:200px;
    word-wrap: break-word;
    text-align: center;
}